PORT = 3000
MONGO_URI = mongodb+srv://namZero:Namzero90210@cluster0.rvpebwq.mongodb.net/?retryWrites=true&w=majority
GOOGLE_CLIENT_ID = 523065401885-tdp46547g6pii0upq6nhuj3kpbmuqugt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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